div, section, main, header, footer, p, nav {
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.banner .phone, .banner .text{
width: 50%;
padding: 0 50px;  
}

.banner .banner-wrapper .text {
    line-height: 30px;

}

.banner img{
    width: 250px;
}

h1{
    margin-bottom: 5px;
font-size: revert;
}

.banner .button_wrapper .button{
    width: 20px;
}

.button_wrapper{
    display: flex;
    background: #5094f2;
    width: 135px;
    justify-content: center;
  margin-top: 5px;
}

.banner .banner-wrapper a{
    color: white;
    padding: 5px 5px;
    text-decoration: none;
}


.banner .banner-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.banner .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
} 

.banner{
    padding: 15px 0;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../images/banner.png);
}
